attrs==19.3.0
bleach==3.1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
docutils==0.16
idna==2.9
jeepney==0.4.3
keyring==21.2.0
more-itertools==8.2.0
packaging==20.3
pipdeptree==0.13.2
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.6
pytest==5.4.1
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
tqdm==4.45.0
twine==3.1.1
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
